body{
    background-color: rgb(0, 25, 78);
    display: grid;
    grid-template-columns: 300px 1fr;
}

.dashboard{
    display: grid;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 100%;
    grid-template-rows: 100px 300px 100px;
}

#dash{
    padding: 20px;
    color: hotpink;
}

ul{
    display: grid;
    list-style-type: none;
    padding: 20px;
    gap: 20px;
}

a{
    text-decoration: none;
    color: hotpink;
}

a:hover{
    font-size: 30px;
    color: rgb(138, 0, 69);
}

.header{
    display: grid;
    background-color: purple;
    grid-template-columns: 70px 800px auto; 
    grid-template-rows: 40px 20px 50px;
    padding: 30px;
    box-sizing: border-box;
}

.header label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:rgb(255, 255, 255);
    grid-column: 1 / 2;
}

#search{
    width: 50%;
    padding: 5px;
    border-radius: 30px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.top_right{
    grid-row: 1/2;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: auto auto;
}

.notification{
    background-image: url(bell.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 4/5;
}

.logo_link{
    background-image: url(logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 5/6;
}

.logo2{
    background-image: url(logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3/4;
    grid-column: 1/2;
}

.name{
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    color: aliceblue;
    font-size: 20px;
    grid-row: 3/4;
    grid-column: 2/3;
}

.bottom_right{
    grid-row: 3/4;
    grid-column: 3/4;
    grid-template-columns: repeat(3, auto);; 
    display: grid;
    gap: 20px;
    justify-content: end; 
    align-items: center;
}

.btn{
    height: 50px;
    width: max-content;
    background-color: rgb(5, 17, 99);
    color: white;
    border-radius: 20px;
    padding: 0px 20px;
}

.y_project{
    display: flex;
    padding: 20px;
    font-size: 20px;
    color: rgb(0, 195, 255);
}

.project{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: repeat(6, auto);
    padding: 20px;
    gap: 50px;
}
.link_container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.logo_link1{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(eye.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.logo_link2{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(github.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.p1, .p2, .p3, .p4, .p5, .p6{
    color:rgb(0, 0, 0);
    padding: 10px;
    background-color: blueviolet;
    border: 10px solid blueviolet;
    border-left-color: deeppink;
    border-radius: 10px;
}

.info1, .info2, .info3, .info4, .info5, .info6{
    color:white;
    padding: 20px;
}

.main{
    display: flex;
}

.anbox{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background-color: blueviolet;
    backdrop-filter: blur(100px);
    border-radius: 20px;
}
.announcement{
    color: rgb(0, 195, 255);
    padding: 20px;
    font-size: 20px;
}
.topic1, .topic2, .topic3{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid white;
    padding: 15px 10px;
}

.topic3{
    border-bottom: none;
}
.anbox{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 5px;
}

.description{
    color: white;
    padding: 10px;
}

.trending{
    color: rgb(0, 195, 255);
    padding: 20px;
    font-size: 20px;
}

.trebox{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background-color: blueviolet;
    backdrop-filter: blur(100px);
    border-radius: 20px;
    gap:5px;
}

.pfp{
    width: 25px;
    height: 25px;
}

.profile{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
}