.dashboard{
    display: grid;
    background-color: black;
    width: 300px;
    height: 100vh;
    grid-template-rows: 100px 300px 100px;
}

#dash{
    padding: 20px;
    color: hotpink;
}

ul{
    display: grid;
    list-style-type: none;
    padding: 20px;
    gap: 20px;
}

a{
    text-decoration: none;
    color: hotpink;
}

a:hover{
    font-size: 30px;
    color: rgb(138, 0, 69);
}